#ignore thumbnails created by windows 
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
deploy.config
Examples*/
*.vsmdi
*.pidb
*.userprefs
*.testrunconfig
publish.xml
TestResults
Activity.log*
/ACT.NextGen/src/Act.Teem.Adapters/Core/lib
/ACT.NextGen/src/Act.Teem.Adapters/Core/lib/Act.Teem.Adapters.Core.Services.dll
packages
