@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>Games</h1>
    <p class="lead">This site is an example of leveraging SignalR in an MVC 5 application to support simple games.</p>
    <p class="lead">The first game created is a simple game of Rock, Paper, Scissors between two players.  Click the RPS menu to play!</p>
</div>
